@charset "UTF-8";



body{
    background-color: #78bce9;
}


header, section, footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: center;
    color: white;
}

section{
    margin: auto;
    height: 80vh;
    width: 90vw;
    max-height: 400px;
    max-width: 600px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.315);
}

section > div#hrdia{
    margin: auto;
    text-align: center;
    color: black;
    padding: 20px;
}

section > div#imagem{
    margin: auto;
    margin-top: 15px;
}

div#imagem > #ft{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

